csharp/bin
csharp/obj

haskell/*.hi

ocaml/day5.cm?

rust/Cargo.lock

scala/.bsp
scala/.scala-build
scala/project/build.properties
scala/project/project
scala/project/target

*/*.o
*/day5
*/target

*~
